[2014-02-03 23:24] maksimr opened #1 "ERROR [karma]: [TypeError: Cannot call method 'push' of undefined]"
Hi!

I try to user mocha reporter with karma 0.11.13 but got error

[code]

[2014-02-04 14:04] #1 closed, assigned to 4kochi

[2014-02-07 13:29] ozanhazer opened #2 "Reporting skipped tests as failed too"
Can be easily fixed by changing line 147 to:

[code]

[2014-02-07 20:00] #2 closed, assigned to 4kochi

[2014-04-16 08:28] tusharmath opened #3 "Only shows summary if in continuous integration mode."
When in karma.config if you set `singleRun` as `false` then the reporter displays only the SUMMARY. Otherwise it reports results of all the test cases.

Is this [line](https://github.com/litixsoft/karma-mocha-reporter/blame/master/index.js#L255) required?

[2014-04-17 04:31] #3 closed, assigned to nobody

[2014-04-18 13:49] ivandotv opened #4 "No colors"
There are no colors in the output.

[2014-04-19 20:26] #4 closed, assigned to nobody

[2014-04-29 22:43] cgross opened #7 "If no tests pass, no summary is written"
If all the tests fail, then no summary is written.  You can easily reproduce this in the demo by simply commenting out all but one test, then ensure that test will fail.

[2014-04-30 09:24] #7 closed, assigned to 4kochi

[2014-06-25 04:15] koba04 opened #8 "TypeError occurs when I use function name of Object.prototype in suite description"
Hi, this issue reproduces like this.

[code]

Error Message.

[code]

[2014-06-26 07:13] #8 closed, assigned to 4kochi

[2014-08-12 14:26] andrew-luhring opened #11 "Manipulate the order of output?"
This reporter rules but one thing that's bugging me is that the output doesn't  have the most recently modified files listed _last_... right now I have to scroll up to see the most recent tests. Is there an easy way to make this happen or configure?

One of the reasons this would be useful is for when you have to log something out to console you wouldn't have to scroll up until you find the consol

[2014-08-12 14:39] andrew-luhring opened #12 "Skipped tests don't show up"
### Example:

[code]

logs:

[code]

Summary doesn't show that a test was skipped...
But doing the opposite- singling out tests shows skipped tests:

[code]

logs:

[code]

Is there a way to show when something is 'xit / xdescribe' as being (skipped) ?

[2014-08-13 06:52] #12 closed, assigned to nobody

[2014-08-14 13:45] #11 closed, assigned to nobody

[2014-08-22 16:06] khirakawa opened #14 "Prettified test failure for JSON objects"
I am running the following test:

[code]

The two objects, `a` and `b`, differ slightly and the test fails as expected.  However, the error message is not meaningful.

`AssertionError: expected { Object (a, b, ...) } to deeply equal { Object (a, b, ...) }`

How would I get it so that it outputs deep diff instead?

Libraries I am currently using:
- karma 0.12.1
- karma-mocha 0.1.6
- karma-mocha-rep

[2014-08-25 07:15] #14 closed, assigned to nobody

[2014-09-23 15:03] JimtotheB opened #15 "Broken Formatting in linux terminal."
I'm not sure if it log-symbols or chalk, but something is outputting strange characters.

![ym4byfp](https://cloud.githubusercontent.com/assets/4064669/4374248/b8d58982-4332-11e4-9823-8ec11a3c7d61.png)

[2014-09-24 08:13] #15 closed, assigned to nobody

[2014-12-04 23:24] chasm opened #17 "dev dependencies"
Time to update the dev dependencies?

[2014-12-05 06:49] #17 closed, assigned to nobody

[2014-12-19 07:31] justinware opened #18 "Different output to Mocha CLI runner for BDD tests"
Hi,

Have just started using this library in some Spikes to assess and PoC our TDD & BDD testing stacks for a new project, and am liking it so far and how the output is similar to Mocha.

Just one thing I have noticed, is that the output for BDD tests (using the Yadda BDD framework) is different to that when running mocha directly on the CLI. See below:

**Mocha**
C:\DEV\GMR\sandbox\ui-architectur

[2015-02-08 16:08] evanliomain opened #19 "Colored icons when config.colors is false"
The icons from log-symbols are colored when the color configuration is false.
![wrong_color](https://cloud.githubusercontent.com/assets/6391294/6097224/0a15d51a-afb5-11e4-9536-9abbcab1666d.png)

Just strip color when no color is required to remove this icons color:
[code]

[2015-02-08 16:17] 4kochi commented on #19
Ok, will have a look at it tomorrow. Thanks for reporting.

[2015-02-09 07:56] 4kochi commented on #18
@justinware ping :bell: :smile:

[2015-02-09 08:06] #19 closed

[2015-02-17 09:48] nbish11 opened #20 "No color output when using grunt-contrib-watch"
My karma config file has "colors" set to true.

[2015-02-17 11:07] 4kochi commented on #20
All tests work fine. The output is colored. Can you please add your complete configuration.

[2015-02-17 23:52] Ashwell opened #21 "Suppress Failed Tests Stack Traces"
Is it possible to suppress the output of the last section, "FAILED TESTS:"?

My testing set up allows developers a couple different way to access the test pass/fail information and it is turning out that we only need the Karma console output for a summary and use other methods for looking at stack traces and fixing failing tests.

Would it be/is it possible to just leave out the extensive failure

[2015-02-18 06:56] nbish11 commented on #20
Here you go:

[code]

[2015-02-18 08:31] 4kochi commented on #20
Well, the karma config looks fine. Can you please also attach the Gruntfile including the grunt-contrib-watch configuration.

[2015-02-18 08:35] #21 closed

[2015-02-18 14:40] sgerace opened #22 "Not getting individual error reports if multiple browsers run tests and a test fails"
I typically do most of my development/testing using a single browser and then run all of the browsers at the end using a different karma config file. When running with a single browser, I get full output for each failure (browser, stack trace, etc.). However, if I'm running multiple browsers and one fails, I only get a list of failed tests, not the stack trace for the failed browser (nor do I get

[2015-02-18 14:53] 4kochi commented on #22
I run a short test in multiple browsers which fails. Looks all good. The browser in yellow are the ones where the test fails (in this case in all browsers).

![bildschirmfoto 2015-02-18 um 15 49 27](https://cloud.githubusercontent.com/assets/1742426/6249183/d7271cb2-b785-11e4-81c7-9c6049227cea.png)

One thing to note though is that the stack trace can be different in multiple runs. The stack trace

[2015-02-18 23:24] nbish11 commented on #20
[code]

[2015-02-19 08:08] 4kochi commented on #20
Ok, i can reproduce the issue. It is because karma runs in a child process. But i don't know yet why the colors are missing in this case.

[2015-02-19 12:01] nbish11 commented on #20
So, this isn't just a misconfiguration on my part?

[2015-02-19 12:05] 4kochi commented on #20
No, it isn't.

[2015-02-19 12:05] nbish11 commented on #20
Okay, glad to hear. I thought I was going insane.

[2015-02-27 15:05] Marsup commented on #22
I don't know if it's the same problem but I have the same symptom. I've traced it back to the item being wrong when printed :
[code]

Notice the `describe` is failed, the `it` is not, but it has failures.
Using 1.0.0.

[2015-02-27 17:24] 4kochi commented on #22
Ok, will try to reproduce this behavior. Could you please run the tests with the default reporter (progress) and look if the output of the error is the same. Thanks.

[2015-02-27 17:56] Marsup commented on #22
With default reporter I get this :
[code]

[2015-03-01 20:57] 4kochi commented on #22
I looked through the code and see that most properties of the wrong printed item come directly from karma. Can you please tell me which version of karma you use.

[2015-03-02 09:48] Marsup commented on #22
Using karma@0.12.31.

[2015-03-12 14:44] mik01aj opened #23 "Multi-line error messages are rendered in a weird order"
Try this:

    expect('Hello\nWorld').toBe(0);

The displayed error message is:

[code]

Related issues: https://github.com/jasmine/jasmine/issues/742 and https://github.com/jasmine/jasmine/issues/796

[2015-03-12 14:51] mik01aj opened #24 "Running the test case stops after the first failed expectation"
I believe it shouldn't.

This is my example test case:

        it('should show all failures for this silly test', function () {
            expect(1).toBe(0);
            expect(2).toBe(0);
            expect(3).toBe(0);
            expect(4).toBe(0);
        });

Result using `karma-mocha-reporter`:

[code]

Compare this with the output from default `karma`reporter:

[code]

[2015-03-12 21:45] 4kochi commented on #23
I will have a look. Thanks for reporting.

[2015-03-12 21:47] 4kochi commented on #24
Ok, seems like a bug.

[2015-03-13 07:53] #24 closed

[2015-03-13 08:26] 4kochi commented on #23
Ok, seems like a bug in karma-jasmine. My reporter gets the wrong input and just print it. I will try to find the bug in karma-jasmine.

[2015-03-13 09:08] 4kochi commented on #23
karma-runner/karma-jasmine#79

[2015-03-15 08:45] aleclarson commented on #20
Was this fixed?

[2015-03-15 09:07] 4kochi commented on #20
Not yet, still figuring out if it's a problem in this module or in karma.

[2015-03-15 10:14] aleclarson commented on #20
My issue is separate I think.

There was no color output when using `grunt-shell` to launch Karma. So I just use `grunt-karma` instead and everything seems to work correctly.

[2015-03-15 10:29] 4kochi commented on #20
Ok, I will try to reproduce this.

[2015-03-16 11:21] #20 closed

[2015-03-24 19:24] chrisbraddock opened #25 "seems to ignore karma.conf logLevel setting"
With karma.conf logLevel set to config.LOG_WARN, LOG_DEBUG level messages are output to my console (e.g. console.log statements).

[2015-03-25 08:26] 4kochi commented on #25
We are using the same functions to log the messages as the built in reporters in karma. So no `console.log()` statements anywhere. Which messages do you mean?

[2015-03-25 11:41] chrisbraddock commented on #25
Sorry I meant console.log statements in my code - the code being tested. This is for an Angular app and we override Angular's $log methods with console.log methods because Angular $log swallows up the file names reported in Chrome DevTools console output. Anyway, it seems if we put the following in karma.conf the "issue" goes away:

[code]

[2015-03-25 12:13] 4kochi commented on #25
No problem. And you are right, `karma-spec-reporter` is overriding the function `onBrowserLog()` and checks for the current log level of karma. We are using the original `onBrowserLog()` function of karma, which does not check the log level. If this really is an issue for you, maybe the karma repository is the right place to open an issue.

[2015-03-25 12:13] #25 closed

[2015-04-26 23:02] monolithed opened #26 "String diffs"
Could you provide [string diffs](http://mochajs.org/#string-diffs)?

![1430089163985](https://cloud.githubusercontent.com/assets/803674/7339709/69527ab6-ec81-11e4-85ed-030068f9fa7a.png)

[2015-04-27 04:31] 4kochi commented on #26
I will have a look at it.

[2015-04-27 14:24] Marsup commented on #22
Any progress on this ?

[2015-04-27 15:00] 4kochi commented on #22
Not yet. Will check it again next week. Currently on vacations.

[2015-06-05 16:11] ttback commented on #26
Second this, trying to get the look like above screenshot and mentioned here: https://github.com/chaijs/chai/issues/106

[2015-08-05 13:18] johnnyreilly opened #30 "Is there a way to customise colors?"
Hi,

First of all, thanks for karma mocha reporter - love it!

My question is: is there a way to customise the colors used?  Whilst the white is appropriately white on Windows, the green and red for pass and fail are really hard to read.

If there was a way to control this that would be fantastic.

[2015-08-05 13:38] 4kochi commented on #30
Hi John,

nice that your are find the module useful. For printing the colors we use calk (https://github.com/chalk/chalk#colors).

We can add an option to the config in which you can change the color, but we can only use the colors an bgColors that chalk exposes. It might look like the following:

[code]

Please let us know if that would be helpful for you.

[2015-08-05 14:39] johnnyreilly commented on #30
I'm familiar with Chalk.  The config option sounds great!

I use `bgRed` elsewhere to alert me when my browserify build fails (which is plenty legible) and so I can see myself using that for errors.

[2015-08-05 15:45] #30 closed

[2015-08-05 16:02] johnnyreilly commented on #30
You're kidding?! That's fast!!! :+1: I'll give this a try in the morning - thanks!

[2015-08-05 16:11] 4kochi commented on #30
No problem, was an easy task :smile:

Just released to npm as v1.1.0. The travis test are broken, but it works locally. Seems to be a problem with karma in general.

[2015-08-06 08:48] johnnyreilly opened #31 "Ticks and Crosses don't show up when using bg colors"
The colors feature is fantastic!  However, there is a problem when using chalk's bg colors.  The icons (ticks / crosses etc that appear to the left of tests) don't show up.  Any idea why this might be?

Thanks again!

[2015-08-06 09:31] 4kochi commented on #31
It's because the symbols are also styled by chalk and if for example the success color is bgGreen you will not see the symbol ✔ because it is also green but on a green background.

We can fix this by giving the symbol the same color from the config.

[2015-08-06 10:38] #31 closed

[2015-08-06 10:45] 4kochi commented on #31
Released as v1.1.1

[2015-08-06 13:43] johnnyreilly commented on #31
awesome!

[2015-08-24 11:53] vitalets commented on #26
+1 for that feature

[2015-09-08 02:39] hatched opened #32 "Highlight complex object diff"
It would be great if the reporter would highlight the diff in a complex object instead of just dumping both the expected and actual to the console. I'm using karma-jasmine because karma-mocha doesn't show the stacktrace on error and using chai 'assert' assertions.

Using:
- karma 0.13.9
- karma-chai-sinon 0.1.5
- karma-jasmine 0.3.6
- karma-mocha-reporter 1.1.1

[2015-09-08 10:15] 4kochi commented on #22
Have not found anything yet. Is the problem still there with the new karma version (0.13)?

[2015-09-08 10:20] 4kochi commented on #32
I guess this is a duplicate of #26 ? I am short on time right now but i will try to have a look if this can be done with the reporter.

[2015-09-08 18:49] hatched commented on #32
I spent a bit of time this morning tracing down where this information is coming from. It appears that the issue is in `jasmine-core` not emitting the proper information on an exception.

https://github.com/jasmine/jasmine/blob/master/lib/jasmine-core/jasmine.js#L1468

I'm not at all familiar with how jasmine-core operates but it appears that `karma-jasmine` _may_ be able to supply configuration v

[2015-09-09 06:43] 4kochi commented on #32
Thanks for looking into this. I will use this as starting point.

[2015-12-10 15:58] brenwell opened #35 "Installation issues"
Hey there,

Firstly thanks for the lib.

I was wondering if perhaps you could help me fix the following installation issue

[code]

[2015-12-10 16:13] brenwell commented on #35
Probably would help if I had checked **make** and **g++** were installed first.

Sorry to bother

[2015-12-10 16:13] #35 closed

[2015-12-28 23:03] claycephas opened #36 "Better handle duplicate descriptions"
**Repro**

    describe('thing', function() {
        it('should do stuff', function() {
            expect(1+1).toEqual(2);
        });
        it('should do stuff', function() {
            expect(2+1).toEqual(3);
        });
    });

**Produces**

    thing
      √ should do stuff

    SUMMARY:
      √ 2 tests completed

**Expected**

    thing
      √ should do stuff
      √ should do stuff

[2015-12-28 23:57] claycephas opened #37 "Better full page reload failures"
If some tests accidentally do a full page refresh, `karma-dots-reporter` reports the error, but `karma-mocha-reporter` doesn't make the failure as clear.

With dots reporter:

    ..............................................................................
    PhantomJS 1.9.8 (Windows 7 0.0.0) ERROR
      Some of your tests did a full page reload!
    PhantomJS 1.9.8 (Windows 7 0.0.0): Executed

[2015-12-29 13:42] 4kochi commented on #37
Can you please provide a test case which does the full page reload so that we can reproduce the behavior. That would help us a lot.

[2015-12-29 16:42] #36 closed

[2015-12-29 16:54] 4kochi commented on #36
Released as v1.1.4

[2015-12-29 18:30] claycephas commented on #37
I would think a test like this would reproduce it. However, I've so far not been able to reproduce with your demo tests.

    describe('thing', function() {
        it('should do stuff', function() {
            window.location.reload();
        });
    });

[2015-12-29 18:31] claycephas commented on #37
See this issue for more discussion of this karma error:

https://github.com/karma-runner/karma/issues/1101

[2015-12-29 18:36] claycephas commented on #37
I was able to reproduce with this test:

    describe('thing', function() {
        it('should do stuff', function() {
            window.location.reload();
            expect(1+1).toEqual(2);
        });
    });

output is this:

    START:
    29 12 2015 11:35:39.293:WARN [karma]: Port 9876 in use
    29 12 2015 11:35:39.297:INFO [karma]: Karma v0.13.16 server started at http://localhost:9877/

[2015-12-29 20:33] 4kochi commented on #37
Thanks for the test case. I could easily reproduce the problem. But it is a bit tricky. Interestingly the onRunComplete method is called twice in this case, so the summary is printed twice. Also the test itself is successful for karma, so it is completed successful but the message with the full page reload is also printed.

I changed the handling in the onRunComplete method and hope the output is

[2015-12-30 03:26] claycephas commented on #37
Assuming the `x` and `Error while running the tests` are in red when colored I think that'd be great!

[2015-12-30 17:38] 4kochi commented on #37
Yes, they are.

[2015-12-30 17:45] #37 closed

[2015-12-30 17:48] 4kochi commented on #37
Published as v1.1.5

[2016-02-02 09:58] sarod commented on #26
:+1:  would be great

[2016-02-15 17:51] jreinert commented on #26
+1 for this

[2016-02-17 01:12] scottohara opened #38 "Reporter output is truncated when running multiple browsers"
With multiple browsers, the mocha reporter output does not show all tests.

For reference, here is what the "dots" reporter looks like when the test suite is run for:

1. Chrome only
2. PhantomJS only
3. Chrome + PhantomJS together

### Dots reporter, Chrome only

[code]

We can see here that 347 tests passed, and there are 347 dots displayed (4 rows of 80 dots, plus 27 more).

### Dots reporter,

[2016-02-17 12:32] 4kochi commented on #38
We will check this.

[2016-02-17 19:35] #38 closed

[2016-02-17 19:56] 4kochi commented on #23
The causing issue karma-runner/karma-jasmine#79 was fixed.

[2016-02-17 19:56] #23 closed

[2016-02-17 19:56] 4kochi commented on #18
Closed due inactivity.

[2016-02-17 19:56] #18 closed

[2016-02-17 19:58] 4kochi commented on #22
Closing the issue due inactivity. Feel free to reopen if the issue still exists.

[2016-02-17 19:58] #22 closed

[2016-02-17 19:58] 4kochi commented on #38
Released as v1.1.6

Thanks for the detailed description.

[2016-02-17 21:30] scottohara commented on #38
Wow, that was fast!  Thank you.

[2016-02-18 02:59] rosston commented on #32
I've looked a bit into getting nice diffs in Karma, and it seems like the reporter is really at the mercy of the test framework/assertion library to provide the necessary data to provide the diff.

That said, karma-mocha recently added support for passing assertion errors through to the reporter (https://github.com/karma-runner/karma-mocha/pull/85). As far as I can tell, Chai is the only assertion

[2016-02-18 10:59] 4kochi commented on #32
Hey @rosston ,

thanks for the informations. I will have a look. To get started quickly it would be nice if you could send be a `spec` file with mocha tests. Because i only use `karma-jasmine`. That would be really helpful.

[2016-02-18 12:37] rosston commented on #32
Certainly, I can put up an example spec. Would it be helpful to have a full example repo with mocha node tests too? Mocha on node seems to be the gold standard for expected/actual diffs.

[2016-02-18 13:03] 4kochi commented on #32
I guess an example spec is enough. Or is the logic the same in mocha for node.js and browser tests?

[2016-02-18 13:19] rosston commented on #32
Mocha only shows diffs when run in node. In the browser, it uses a different (HTML) reporter, which doesn't support diffs. See https://github.com/mochajs/mocha/issues/1348#issuecomment-131385808

[2016-02-18 14:21] rosston commented on #32
@4kochi Here's an example repo: https://github.com/rosston/mocha-diff-example. `test/test.js` contains the example spec. Let me know if there's anything else I can do to help.

[2016-02-18 19:44] ShawnCholeva opened #39 "Error after errors in tests are printed out"
Hey, I am not really sure if this applies to karma-mocha-reporter, karma or gulp, but it only happens after the Failed Tests are printing (If all tests are passing I don't get the stacktrace printed out and it ends properly).  This is a screenshot of the error that I encountered.

![image](https://cloud.githubusercontent.com/assets/13332685/13155447/5dfcbbf2-d643-11e5-81b9-a22fef31fc1d.png)

[2016-02-18 20:49] 4kochi commented on #39
To me it seems like a problem of gulp. I had something similar when the karma gulp task fails. Then gulp itself also fails and print an Exception. Can you please share your karma gulp task configuration. So I can compare it with my configuration.

[2016-02-18 20:53] ShawnCholeva commented on #39
Sure thing, this is the gulp task.  Did you need to see the karma config as well?
[code]

[2016-02-18 21:28] 4kochi commented on #39
Here is my task. I use the newest karma v0.13.21 So the server is first instanciated and then started.

[code]

[2016-02-19 11:01] #26 closed

[2016-02-19 11:01] #32 closed

[2016-02-19 11:50] 4kochi commented on #32
Thanks for your help @all. Released as v1.2.0

[2016-02-19 11:51] 4kochi commented on #26
Released as v1.2.0

[2016-02-19 12:52] rosston commented on #32
:joy: Yes! This has made my week. Thank you, @4kochi.

[2016-02-23 11:27] panrafal opened #40 "Error on some failed tests"
Sometimes, when printing details about failed tests reporter throws below error and causes browser to permanently disconnect.
I say sometime, because on most of the failed tests the details are printed correctly, including the expected/actual diff.

[code]

[2016-02-23 11:47] 4kochi commented on #40
Seems like the property `assertionErrors` is not set in some cases by `karma-mocha`. Can you please send me a test case which leads to that error. Maybe i can find something.

Anyway i will add an additional check if the property exists to prevent the exception.

[2016-02-23 14:05] straku commented on #40
I am encountering the same error but only when `showDiff` option is set to `true`.

[2016-02-23 14:11] #40 closed

[2016-02-23 14:33] 4kochi commented on #40
Released as v1.2.1. Please check if it works now, otherwise if have to add more checks.

[2016-02-23 14:39] straku commented on #40
Works like a charm! Thank you :smile:

[2016-02-26 21:25] amakhrov opened #42 "Test suits containing skipped tests are reported as failed"
If some other test fails, the Reporter lists the name of the skipped test suite in addition to the actually failed test.

<img width="398" alt="skipped-test-as-failed" src="https://cloud.githubusercontent.com/assets/1004015/13365760/c6241fd8-dc8b-11e5-9d64-99904d7e8be4.png">

The code of the test suite that is mistakenly reported here:
[code]

[2016-02-27 11:47] 4kochi commented on #42
I was able to reproduce the problem. Can you please share a snippet which also contains the failing test. Thanks.

[2016-02-27 17:36] amakhrov commented on #42
[code]

Output:
<img width="340" alt="skipped-test-as-failed" src="https://cloud.githubusercontent.com/assets/1004015/13374301/51409e6c-dd35-11e5-9ef6-90612bb66305.png">

Looks like this only happens when in Test Case 1 the skipped (`xit`) case is not the last one.

[2016-02-27 19:46] 4kochi commented on #42
It works for me.

<img width="570" alt="screen" src="https://cloud.githubusercontent.com/assets/1742426/13374943/3026c752-dd93-11e5-82c4-b8cc5c20d9eb.png">

But i am using jasmine for the tests. Which test framework and assertion library do you use? And do you have any of the options of the reporter enabled?

[2016-02-27 19:58] amakhrov commented on #42
Mocha + Chai
Sorry, I didn't specify form the beginning - I assumed this is a mocha-specific repo (karma-**mocha**-report).

Full Karma config:
[code]

[2016-02-27 20:09] 4kochi commented on #42
Ok, thanks. Now I can reproduce it. So it must be a mocha or chai specific problem. Since I always use jasmine I did not encountered the problem yet.

Btw, the reporter uses the api provided by karma, so it is actually test framework agnostic. :smile:

[2016-02-27 20:10] amakhrov commented on #42
Sounds good :)
Thanks for the quick response!

[2016-02-29 17:18] #42 closed

[2016-02-29 17:30] 4kochi commented on #42
Released as v1.2.3

[2016-02-29 18:18] amakhrov commented on #42
Wow, such a fast turnaround! Impressive )

[2016-03-03 12:01] marcoscaceres commented on #38
I'm still seeing this problem when running multiple browsers. Also, seeing the problem on TravisCI.

this is my config:
[code]

[2016-03-03 12:16] marcoscaceres commented on #38
You can see the travis issue here (it's the same problem locally):
https://travis-ci.org/w3c/respec/builds/113383189#L1577

Firefox starts, but nothing happens. Using other reporters works, however.

[2016-03-03 12:17] marcoscaceres commented on #38
Screenshot of issue:

![screenshot 2016-03-03 23 17 01](https://cloud.githubusercontent.com/assets/870154/13494064/132e7a6c-e196-11e5-9786-6daa6aea53ab.png)

[2016-03-03 21:53] 4kochi commented on #38
I will check this.

[2016-03-05 06:11] amakhrov opened #44 "karma listed in dependencies instead of devDependencies"
It forces `npm` to include `karma` package into shrinkwrap.

However, it doesn't seem that karma is used by the lib itself.
So the suggestion is to remove karma from dependencies, or move to devDependencies (like in other karma plugins: [karma-mocha](https://github.com/karma-runner/karma-mocha/blob/master/package.json#L23), [karma-webpack](https://github.com/webpack/karma-webpack/blob/master/packa

[2016-03-05 06:20] 4kochi commented on #44
Well, never thought it would be a problem since karma-mocha-reporter itself is always a dev dependency in a normal project. But I also never used npm shrinkwrap.

I guess the correct behavior would be to add `karma` as a peerDependency. Then the user of a project can decide itself were to put the `karma` dependency. I will check what npm shrinkwrap does in this case.

[2016-03-05 06:23] amakhrov commented on #44
Maybe it's an issue with npm - I also expected that since karma-mocha-reporter is a dev dependency, its own dependencies would be treated as 'dev' and excluded from shrinkwrap. However, with the stable node/npm it's not the case.
Funny enough that karma-mocha-reporter itself is excluded - by karma is not :)

[2016-03-05 06:36] 4kochi commented on #44
From the npm documentation:

"Since npm shrinkwrap is intended to lock down your dependencies for production use, devDependencies will not be included unless you explicitly set the --dev flag when you run npm shrinkwrap."

So it could really be an npm problem. I will have a look this weekend.

[2016-03-05 06:42] amakhrov commented on #44
In any case I'm not sure it's correct to have karma as a dependency in this particular case.

Thanks.

[2016-03-05 07:58] rosston commented on #44
I think karma shows up in your shrinkwrap because node 5 ships with npm 3. Because npm 3 flattens out the node_modules directory, there are some weird effects when shrinkwrapping.

I work on a project where we have special scripts set up for installing new modules just so that `fsevents` doesn't end up in the top level of the shrinkwrap, and that package is an optional sub-dependency 2 or 3 packag

[2016-03-07 10:04] 4kochi commented on #38
The resolution of how many browsers will run an test was not correct. Please try the new version 1.3.0

[2016-03-07 10:26] #44 closed

[2016-03-07 10:27] 4kochi commented on #44
Moved `karma` to peerDependencies. Now you can add `karma` and `karma-mocha-reporter` as devDependencies in your project and they will be excluded by `npm-shrinwrap`

[2016-03-12 17:51] marcoscaceres commented on #38
Much better! Thank you❤️

[2016-03-26 17:35] mattii opened #47 "Missing/wrong error messages for tests that throw in one browser only"
Hello!
If a test fails only in PhantomJS, that error will not be listed by `karma-mocha-reporter`.

Here is a little test-suite to reproduce the error:

[code]

And thats the output:

![bildschirmfoto 2016-03-26 um 18 02 59](https://cloud.githubusercontent.com/assets/784697/14061334/45003806-f37e-11e5-9386-85e3f0a7fb0f.png)

So you see, if all browsers fail, the report works, but if only one fails

[2016-03-26 19:51] 4kochi commented on #47
Thanks for the detailed description and the test case. From the first look I have no clue what's wrong. But in the `specComplete` function the property `success` is true for PhantomJS but I should be false.  I will check this next week.

[2016-04-05 11:23] 4kochi commented on #47
Hey @mattii, i didn't forgot you. I am still investigating the error. So far it seems like the output of an it block is printed although not all browser have executed the it block.

[2016-04-06 09:25] mattii commented on #47
Hi @4kochi, thanks for having a look at this. As far as I understand, `specComplete` is called on each completed test in each browser. It seems like the second browser, in this case Chrome, ist overwriting the `success` property of the test `it('fails in PhantomJS')`, that actually failed before in PhantomJS.

If I uncomment line 438 (`item.success = result.success;`), the failed PhantomJS test wi

[2016-04-06 09:39] 4kochi commented on #47
Indeed. Thanks for the hint. I guess it would be better to calculate the success property based on the current value and the new value. Something like `item.success = item.success && result.success`. In that case `false` stays `false`.

[2016-04-14 05:54] Kamilius opened #51 "[Request] Output test results into file"
It would be handy, for staging/production deploying needs to be able to save test output into, let's say an *.xml file.
Is there a way to do it now?
Currently didn't found an answer in API provided inside README.md

[2016-04-14 11:28] 4kochi commented on #51
Currently there is nothing built in. If you are using Mac or Linux you can although pipe the results in a file.

`karma start my.conf.js >> my.log.txt`

A better way would be to use a reporter which is optimized for structured output like the junit format (https://github.com/karma-runner/karma-junit-reporter)

But i am also open to any pull request for this case.

[2016-04-16 11:24] #47 closed

[2016-04-16 11:30] 4kochi commented on #39
Hey @ShawnCholeva, do you still have the problem?

[2016-04-16 11:35] 4kochi commented on #47
Released as v2.0.1

[2016-04-16 11:46] mattii commented on #47
Thank you @4kochi!

[2016-04-19 11:53] niemyjski opened #52 "Install issues when using Grunt 1.0.1"
[code]

[2016-04-19 12:05] 4kochi commented on #52
Can you please explain what you are exactly doing. Because I am not sure if `karma-mocha-reporter` is the problem. It has `grunt` as devDependency, but that should be ignored when install `karma-mocha-reporter` in your module.

[2016-04-19 12:23] niemyjski commented on #52
I just tried to update https://github.com/exceptionless/Exceptionless.ui to the latest version and did npm install and got that error.

[2016-04-19 12:24] niemyjski commented on #52
It was the only dependency I updated and from the error I believe it's caused by this library but I could be wrong.

[2016-04-19 12:30] 4kochi commented on #52
I ran npm in your module and it works. The message `UNMET PEER DEPENDENCY grunt@1.0.1` comes from npm and refers to some grunt plugins you use which have a peer dependency on `grunt ~0.4.x`

At the end there is the following output:

[code]

[2016-04-19 12:46] niemyjski commented on #52
Thanks for the heads up and looking into it. Kinda weird they say that message when installing a new module. I'll look into it further.

[2016-04-19 12:46] #52 closed

[2016-04-20 12:22] renegart opened #53 "No test result output of running test after upgrading to 1.3.0 and newer"
I've used karma-mocha-reporter-1.1.5 for a long time. During an update of my system, I've upgraded also to the latest version. Since than I don't see any test results during running the tests.

I've played around with several reporter versions and it seem the "issue" was introduces with 1.3.0. Older versions are working, newer not. You have changed the behaviour of printout in 1.3.0 if multiple br

[2016-04-20 12:29] 4kochi commented on #53
The change in v1.3.0 was that the reporter waits that all browser have run a test before printing an output for the test. (https://github.com/litixsoft/karma-mocha-reporter/commit/3342eb8008c620c5b6146c899b45ef5d9559abbb)

Maybe you have an example of your test so that I can reproduce the problem.

[2016-04-21 17:23] marcoscaceres opened #54 "Strange looking output on Travis"
See:
https://travis-ci.org/w3c/respec/builds/124809750

It also seems to have regressed with regards to when multiple browsers are running. Running locally, I only see output for 1 browser, not two.

You can test against:
http://github.com/w3c/respec/

If you would like... just npm install, and karma start.

[2016-04-21 17:25] marcoscaceres commented on #54
To clarify, see specifically from this line: https://travis-ci.org/w3c/respec/builds/124809750#L1511

[2016-04-22 05:43] 4kochi commented on #54
I have tested it locally and I can confirm that it looks weird. It seems like the reporter have a problem when the option `concurrency` is set in karma. I will check this.

[2016-04-22 06:02] marcoscaceres commented on #54
Thanks for looking into it. If I can be of any help, just ping :)

[2016-04-22 07:02] #54 closed

[2016-04-22 07:12] 4kochi commented on #54
Fixed in release v2.0.2

[2016-04-22 07:14] marcoscaceres commented on #54
Woot 🎉. Trying it now

[2016-04-22 07:24] marcoscaceres commented on #54
Ok, so the output is as expected, but it's still only outputting for the second browser, not the first (chromeCanary):
https://travis-ci.org/w3c/respec/builds/124951375#L1512

[2016-04-22 09:28] 4kochi commented on #54
That is as expected. The report "collects" the information for a test run for each browser and when all browsers ran the test then the output is printed. In your case because of the concurrency of 1 only one browser runs at a time. And the last browsers triggers the output to be printed in the console.

[2016-04-22 09:44] renegart commented on #53
not sure how to give an example. Try to strip down the test suite.

What I do, I start karma on my developer machine and connect from another system with a chrome browser to the running karma instance. In my opinion nothing special :)

[2016-04-22 13:16] marcoscaceres commented on #54
Ah! Thanks for the clarification. Makes sense.

[2016-04-26 19:25] alexrass opened #55 "Diff not working when comparison is in a callback"
Any chance this could be fixed?  When doing a object comparison inside of a callback, instead of displaying a nice diff, all you get is:

`WARN: 'Unhandled rejection AssertionError: expected [ Array(1) ] to deeply equal [ Array(1) ]'`

Example code:

[code]

I'm using chaijs for assertions, backbone+marionette, and bluebirdjs for promises.

[2016-05-01 18:30] 4kochi commented on #55
I am not sure if this is a problem with the reporter itself. I played around with some simple bluebird promises and it works. I also found a stack overflow thread with suggest 2 points.

First to return the promise itself instead of calling done within the promise. And second also return the result of the assertion. Reference (http://stackoverflow.com/questions/30405551/how-to-register-a-failed-mo

[2016-05-04 15:11] afterbangx commented on #39
I was having this same problem just yesterday. I've read this is not the optimal solution but here is how I have fixed it for now:

`gulp.task("unit-tests-all", function(done) {
	new Server({
		configFile: __dirname + "/karma.conf.js",
		singleRun: true
	}, function() { done(); }).start();
});`

[2016-05-04 15:41] afterbangx opened #60 "Special characters in tfs build output logs"
I have setup a gulp task to run our unit tests each time someone commits to master. We have a powershell script that is working for all of our gulp task except for the task that is running the tests. I have narrowed it down to some regex that is looking for the Starting and Finished strings in the gulp output. Specifically it is failing on the Finished string because of the special characters in t

[2016-05-04 16:01] 4kochi commented on #60
Seems to be a problem with the module `chalk`, which is used for the colored output. You can disable the colors by setting colors to `false` in the config.

[code]

[2016-05-04 21:06] developit opened #61 "String diffs JSON-encoded"
Hi there,

It would appear that the recently released String diffing support diffs JSON-encoded strings.  This seems unintentional.

Here is a reproduction:

[code]

The above produces this output:
<img width="422" src="https://cloud.githubusercontent.com/assets/105127/15029078/fdf3eee8-1219-11e6-84e8-7af7fa3efd20.png">

Since this appears to be JSON-encoded, I tried manually parsing the expected

[2016-05-04 21:23] developit commented on #61
Submitted a PR for the fix that worked for me, though I can't be sure it's universally workable.

[2016-05-05 11:56] #61 closed

[2016-05-06 23:55] tatablack commented on #53
Not sure whether I should open a new issue for this, but.. I also see no output with the latest version of this reporter (2.0.3) and Karma 0.13.20. _However_, If I downgrade Karma to 0.13.19 (or lower, I tried a few) then it works again.

Seems like some of their latest changes introduced a bug, or changed some internal behaviour.

[2016-05-07 04:47] 4kochi commented on #53
Thanks for information @tatablack. I will check the problem with different karma versions.

[2016-05-07 11:53] 4kochi commented on #53
I tested with some versions of karma below 0.13.20. But i still cannot reproduce the problem. Maybe you can send me a `karma.conf.js` file and the corresponding `spec` file. @renegart @tatablack

[2016-05-07 13:08] tatablack commented on #53
Sorry, maybe I wasn't clear.. with versions of Karma _below_ 0.13.20 **it works**. With 0.13.20 or 0.13.22, for example, it doesn't. Let me know if you still cannot reproduce, I'll see if I can put something together.

[2016-05-09 09:07] 4kochi commented on #53
I still cannot find an issue. It also works fine in travis (https://travis-ci.org/litixsoft/karma-mocha-reporter/jobs/128496141)

Maybe you can just clone this project locally and run `npm install` and then `npm test`. Just to see if this problem specific to your computer or project.

[2016-05-17 15:57] mikeerickson opened #63 "Issue using plugin"
If i have the plugin defined

[code]

I receive the following error (remove this line and all works just fine as expected)   Curious what functionality does the plugin supply

[code]

[2016-05-17 16:05] 4kochi commented on #63
I am not sure if it's a problem with the reporter, because it is registered as reporter

`'reporter:mocha'`

It seems more like the testing framework mocha is missing. (karma-mocha)

Can you please share your complete config for further investigations.

[2016-05-17 17:39] mikeerickson commented on #63
Here you go (and karma-mocha is installed).  It all works fine so long as I dont reference it in the plugin.  Also included a screenshot of installed modules

[code]
![karma-modules](https://cloud.githubusercontent.com/assets/183153/15332727/a7c13ad8-1c1b-11e6-8814-88093add899d.png)

[2016-05-17 18:13] 4kochi commented on #63
Could it be that your plugins section looks like this:

[code]

If so, karma only loads the reporter plugin but not the others, so karma-mocha is not loaded. So either you remove the plugin section from the config and karma takes care of loading all plugins. Or if you specify the plugins section, you have to enter all plugin names.

[2016-05-17 18:36] mikeerickson commented on #63
Yep, that seemed to be the issue.  Just had to specifically list all the plugins and all worked.

But, the reporter doesnt look much different than the existing mocha reporter `karma-mocha`?

[2016-05-17 18:36] #63 closed

[2016-05-17 19:07] 4kochi commented on #63
I am not aware that `karma-mocha` ships it's own reporter. I thought it's only the test framework and the default karma reporter is used.

[2016-05-17 19:36] mikeerickson commented on #63
@4kochi yes, you are indeed correct.  My bad ;-)

[2016-05-23 19:27] 4kochi commented on #39
Closing for now since this is a gulp problem. Thanks @afterbangx for your feedback.

[2016-05-23 19:27] #39 closed

[2016-05-23 19:28] 4kochi commented on #51
Closing but any ideas / pull request are appreciated.

[2016-05-23 19:28] #51 closed

[2016-05-23 19:28] 4kochi commented on #53
Hey @tatablack,

do you still have the problem?

[2016-05-23 19:29] 4kochi commented on #60
Closing this since it should be solved

[2016-05-23 19:29] #60 closed

[2016-05-23 21:33] renegart commented on #53
Sorry, for not answering. I've overloaded with tasks at work at the moment. When I find some minutes next week, I'll send you a config file.

[2016-06-03 07:17] renegart commented on #53
I've written a very small reproducer.
It contains a test file, a karma config and a text file which contains the expected output and the output which I get with karma-mocha-reporter@2.0.3

You'll see the test result are not printed, you see just the summary.

Steps to reproduce:
1) start karma on 'developer system'
2) start browser on 'test machine'
3) connect running karma server with 'http://<de

[2016-06-10 08:00] #53 closed

[2016-06-10 08:25] 4kochi commented on #53
Thank @renegart for your investigations. I was able to reproduce the problem with your files. Fix released as v2.0.4

[2016-06-15 08:52] e-cloud opened #64 "The report does not show as displayed in Readme.md"
![image](https://cloud.githubusercontent.com/assets/5255354/16073546/f81bc7c8-3318-11e6-909d-fe2d26f43ad1.png)

As above, some of the karma start info went into **START section**(is it own by this plugin?).

and it doesn't output the full report.

I'm using the newest karma and mocha and newest version of this plugin.

[2016-06-15 11:17] 4kochi commented on #64
I am using a defined hook from karma (`self.onRunStart()`). The behavior for when this is executed seems to have changed. Nothing I can do here.

Besides this, the full report should have been shown. Can you please share your karma.conf.js file so that I can try to reproduce the problem.

[2016-06-15 11:51] e-cloud commented on #64
Here is my karma conf
[code]

[2016-06-17 05:55] stolidity commented on #64
@e-cloud This happens when you have both `progress` and `mocha` set as reporters in your config. Remove progress and you'll get the output you are expecting.

[2016-06-17 07:01] e-cloud commented on #64
@stolidity, thanks very much, it seems the progress reporter override the mocha-reporter's action.

[2016-06-17 07:01] #64 closed

[2016-06-17 07:01] 4kochi commented on #64
Thanks @stolidity for your help.

[2016-06-28 17:52] slightlytyler opened #66 "Seeing random console log when using karma v1.0.0 and above"
When I start karma I see `decorator { '0': [Function], '1': 0, '2': true, '3': undefined }` when using the mocha reporter. If I remove the reporter I do not see the log. If I use v0.13.22 of karma I also do not see it.

[2016-06-28 17:59] 4kochi commented on #66
This was a bug in `karma`  itself and is already fixed. https://github.com/karma-runner/karma/pull/2206

[2016-06-28 17:59] #66 closed

[2016-06-28 18:07] slightlytyler commented on #66
@4kochi dang I looked at their issues first but guess I'm blind 😝

[2016-06-28 18:14] 4kochi commented on #66
No Problem 😎✌️

[2016-06-30 02:54] ovrmrw opened #67 "console.log doesn't work in terminal (karma 1.1.0)"
I'm using Karma v1.1.0, and now I have a trouble.
on v0.13.22 ... console.log to show log in terminal works.
on v1.1.0 ... doesn't work.

I think a config below is causing this trouble.
https://github.com/karma-runner/karma/blob/master/lib/config.js#L242-L246

The code below is handling "browserConsoleLogOptions".
https://github.com/karma-runner/karma/blob/master/lib/reporters/base.js#L5

sorry I

[2016-06-30 07:15] 4kochi commented on #67
This is caused by a bug in karma. I opened a pull request where you can track the progress.

https://github.com/karma-runner/karma/pull/2220

[2016-06-30 07:15] #67 closed

[2016-07-28 06:04] ppvg opened #68 "Divider can't be disabled"
According to the README, the `divider` can be disabled by setting it to `''`.

This is currently broken [because of this](https://github.com/litixsoft/karma-mocha-reporter/blob/53e7d65b92ebd3d726140feed0f2f8eef1ce1ca1/index.js#L44).

[2016-07-28 11:14] #68 closed

[2016-07-28 11:37] 4kochi commented on #68
Thanks a lot. Released as v2.0.5

[2016-08-08 12:43] abhijeetkpawar opened #72 "Color disabling doesn't work"
mochaReporter: {
                colors: false
        },

This does not disable colors

[2016-08-08 12:54] 4kochi commented on #72
The documentation is wrong. You can disable the colors directly in the karma configuration. See the example below:

[code]

[2016-08-08 12:54] #72 closed

[2016-08-16 14:57] stocksr opened #73 "homepage url in package.json not valid"
http://www.litixsoft.de/modules-karmamochareporter  gives me a 404

[2016-08-16 18:14] #73 closed

[2016-08-26 10:01] maruthi1255 commented on #37
Please update fix for the following issue.

PhantomJS 1.9.8 (Mac OS X 0.0.0) ERROR
  Some of your tests did a full page reload

[2016-08-26 11:33] 4kochi commented on #37
The error comes from karma. It has nothing to to with the reporter. Maybe you should update to the latest version of karma and PhantomJS.

[2016-09-08 06:19] hank7444 opened #75 "Could it add a config to limit output lines?"
Too many unnecessary error log, the useful log only in first line,

maybe add a "maxLogLines" config for better readability ?

![image](https://cloud.githubusercontent.com/assets/4727090/18338944/f234d4fa-75ce-11e6-9ddf-ec05d88a42ae.png)

[2016-09-19 08:56] #75 closed

[2016-09-19 09:45] 4kochi commented on #75
Released as v2.2.0

[2016-10-03 11:37] alexey2baranov opened #78 "console output shown in prev test"
When you have some console output inside test, this output written in previus test.
For example hire is two test files one SlovoAsListItemView wich has no console output and next SidePanelView has 2 console output. And hire is reporter.

As you can see it is incorrect

[2016-10-03 15:10] 4kochi commented on #78
I am not sure if this is a problem of the reporter. Can you please try the build in reporters of karma and check if the behavior is the same. Thanks

[2016-10-04 15:18] alexey2baranov commented on #78
I think i can't. Because karma's default reporters (dots and progress) do not show testsute's name and test's name. So i can not determine do they works correct or no

[2016-11-07 10:22] Reinmar opened #81 "Failed test's error points to Chai"
See e.g. https://travis-ci.org/ckeditor/ckeditor5-engine/builds/173847164#L7972:

[code]

This is pretty useless if a test have more assertions. In the [screenshot](https://github.com/litixsoft/karma-mocha-reporter/raw/master/demo/screen.png) I can see that with some other assertion lib it works fine, so perhaps it's a problem with Chai. But what could help (and in fact, be pretty useful in genera

[2016-11-07 11:28] 4kochi commented on #81
There is no limitation in the length of the stack trace. The reporter just displays the value coming from karma. So I guess this must be a problem specific to chai. I have tested it locally with the test included in this repository and they work fine.

<img width="752" alt="screen" src="https://cloud.githubusercontent.com/assets/1742426/20056291/aa19769e-a4e5-11e6-8453-848c048026c9.png">

[2016-11-07 12:10] Reinmar commented on #81
Hmm... We'll have to dig into this. I've got some theories and I'm curious now which one of them it is – Webpack, source maps, different assertion function used. I'll let you know if we find something :).

Thanks! :)

[2016-11-07 12:10] #81 closed

[2016-11-07 14:04] rosston commented on #81
I've had similar frustrations with stack traces using the same tech stack (except browserify instead of webpack). I don't remember the particulars of it now, but I traced it back to karma (or maybe karma-mocha?) itself messing with the stack traces.

[2016-11-07 23:33] jcrben commented on #30
How about passing in options such as dim or bold?

[2016-11-10 14:27] Reinmar commented on #81
I debugged this. It turns out that we had a broken test which caused an async error to be thrown so it was caught by mocha's native `onerror` listener. So it has the stack of length 2 and this is quite understandable now (or at least more acceptable, taken the sourcemaps) that we got this a bit useless error. I'm only unsure why it's 1!=2 assertion, but I won't have time to debug it further now, s

[2016-11-20 15:06] cvle opened #84 "Skipped tests listed in failed tests."
I run the same tests for multiple browsers (using browserstack). Some tests are skipped for certain browsers. The problem is, when one browser fails a test, other browsers that skipped that test are listed in the _failed tests_ section. This prevents me from knowing which browser actually triggered the failure.

You can see below that 1 test is skipped and 1 test failed, but 2 browsers are listed

[2016-11-21 12:30] 4kochi commented on #84
We will have a look. Are the results of the tests from browserstack public. So that we can see the other results?

[2016-11-21 14:28] cvle commented on #84
It happened while I was working on a PR locally, so the test result is not public. But there was no log indicating a problem except the summary of failed tests I posted above was not correct.

You can check out the test file here:
https://github.com/cvle/css-vendor/blob/fix-failing-tests/src/index.test.js

And the karma config:
https://github.com/cvle/css-vendor/blob/fix-failing-tests/karma.conf.j

[2016-11-29 16:21] CendioOssman opened #86 "concurrent runs screw up log report"
Testing multiple browsers at the same time confuses the reporting somehow and you can't really see which instance failed or succeeded, or where the output belongs.

Examples:

https://travis-ci.org/CendioOssman/noVNC/jobs/179805509
https://travis-ci.org/CendioOssman/noVNC/jobs/179770987

[2016-11-29 20:03] 4kochi commented on #86
I am not sure if the output is from the reporter. Actually it supports concurrent browsers. Could it be that the output is from some `console.log()` statements?

[2016-11-29 20:23] 4kochi commented on #84
I am sorry but I am not able to reproduce the problem so far. I will close the issue for now. Feel free to open it again when there is maybe a reproducible test case.

[2016-11-29 20:23] #84 closed

[2016-11-30 12:21] CendioOssman commented on #86
Yes, it is. However I would expect that output to be either at the start or bottom, or at the test that generates the output. Right now it is very random.

More concerning is that:

 a) there are tests that are marked as failed (red, and `x`), yet the entire run is considered a success
 b) you cannot see the test results for each platform. So failures might just be for one platform, and a success

[2016-12-01 05:44] cvle commented on #84
Seems to work with the newest version. I probably had some old version installed. Sorry for wasting your time.

[2016-12-01 05:50] cvle commented on #84
This is still happening. I'll open this again, once I have a minimal repo to reproduce this.

[2016-12-09 20:28] 4kochi commented on #86
The other problem with the different platforms is hard to track down for me. Might a problem which only occurs when using custom saucelab launchers. I will try to reproduce it.

[2016-12-14 15:34] wesleycho commented on #86
This is a problem in karma itself IMO - karma is coupling the defining of default reporters with logging wired in, so reporters that are using the base reporter decorator are logging by default, which is probably not the intention. I have a proposed solution (https://github.com/karma-runner/karma/issues/2342#issuecomment-267064756) that I am leaning towards, and it would avoid needing to change an

[2016-12-14 15:57] 4kochi commented on #86
Thanks for the information @wesleycho

[2016-12-29 19:11] WaleedAshraf commented on #20
@4kochi facing same issue when running karma with gulp.

[2017-01-05 14:29] idiotWu opened #87 "Browser specific tests won't be reported"
For some reasons I have to run a set of browser specific tests like:

[code]

In these cases, `item.count` will never reach `self.numberOfBrowsers` ([source](https://github.com/litixsoft/karma-mocha-reporter/blob/master/index.js#L537)), so the `item. isCompleted` stays `undefined` thus it won't be reported :(

Any workaround for this?

------

Update: after going through the source code, I got a q

[2017-01-09 11:57] 4kochi commented on #87
Is there a link to the repository so that we can run the tests ourselves?

[2017-01-09 12:13] idiotWu commented on #87
Sorry the repo is currently a private one, but I can give you an example code:

[code]

If you run this code with chrome, firefox and safari, you will only see `Other Tests` suite in outputs.

[2017-01-18 08:27] idiotWu commented on #87
@4kochi ah, I think I misunderstood what you meant...

I created a demo that reproduces this issue here: https://github.com/idiotWu/karma-mocha-reporter-demo. To run this demo, you need to have Chrome and Safari installed in your OS.

[2017-01-18 08:37] 4kochi commented on #87
Thx, will have a look

[2017-01-19 14:46] 4kochi commented on #87
Added a new option `printFirstSuccess`. When set to `true` you will see the reports. Will be released in the next version.

[2017-01-20 07:40] 4kochi commented on #87
Released in v2.2.2

[2017-01-20 07:40] #87 closed

[2017-01-20 07:54] idiotWu commented on #87
Much thanks! Now it works like a charm!

[2017-01-27 16:54] patkec opened #89 "Multiple describes with same name not grouped correctly"
Hi. When you have the same root suite name multiple time (e.g. multiple files), the reporter does not re-print it. Example:
[code]
This will produce the following output:
[code]
As you can see, it looks like test c is part of suite RootB, but it's actually in RootA.
If this is run with mocha directly then print output is correct:
[code]

[2017-02-01 03:49] jlmakes opened #90 "Incorrect formatting inside Travis CI??"
![screen shot 2017-02-01 at 4 44 19 am](https://cloud.githubusercontent.com/assets/2044842/22494615/2d85c6cc-e839-11e6-93bd-3459d600779d.jpg)

There's a stray `[32m` and some text that doesn't render green. Is there more information I can provide to help identify what the issue is?

I'm using version `^2.2.0` of the reporter, and and Karma `^1.3.0`, so everything should be running the latest relea

[2017-02-01 10:13] 4kochi commented on #90
Can you share the link to the travis build?

[2017-02-01 17:26] jlmakes commented on #90
Sure!

https://travis-ci.org/jlmakes/scrollreveal/builds/197167714

Also I'm not sure if relevant, but I'm using sauce labs (and the `karma-sauce-launcher`) to test in various browser environments. I'm going to experiment using only PhantomJS to see if the output looks different.

[2017-02-01 21:45] 4kochi commented on #90
The code `[32m` is part of the ansi color code of the green color (`'\u001B[32m'`). It is generated by the color module we use in this reporter (chalk).

It works fine on my machine. Don't know what the issue with travis could. Generally no colors are printed if a shell does not support the ansi color codes. Normally it works fine in travis.

[2017-02-02 04:57] jlmakes commented on #90
Yeah, the reporter works great on my local machine as well.

. . .

Well perhaps I'll move over to Circle CI...😨 the mere thought of the odd developer perusing through my tests and seeing malformed reporting—*what tremendous embarrassment!* I'd be the laughing stock of the town! 😤

. . .

Any ideas on debugging?

[2017-02-02 07:51] 4kochi commented on #90
This will be hard to debug. But trying another CI System might help to find out if it is just an problem in travis.

[2017-02-20 12:02] cvle opened #92 "Support for different failure messages for the same test case"
We are working on a test-suite for https://github.com/cssinjs/css-vendor/pull/11 and depending on which browser, the failure message can be different but `karma-mocha-reporter` is only reporting the first error message.

[2017-02-20 12:04] cvle commented on #92
Is this the expected behavior?

[2017-02-20 12:39] cvle commented on #92
We resolved this issue by creating different test cases with unique strings for each browser.

[2017-02-20 12:39] #92 closed

[2017-03-01 18:58] lvthanh101 opened #93 "Cannot show file path on error test"
Hi all,
Could anyone tell me how to show detail file path (and line code) when test case failed?
![mocha-reporter](https://cloud.githubusercontent.com/assets/11387898/23475913/9964d798-feeb-11e6-807a-491d532037ed.png)

As you can see, error summary doesn't show file path for failed test case.

[2017-03-01 19:14] 4kochi commented on #93
Can you please try another browser. The error message depends on the browser. I just want to make sure if it is a browser issue or an issue of the reporter.

Thanks

[2017-03-03 02:35] lvthanh101 commented on #93
hi @4kochi
![mocha-failed](https://cloud.githubusercontent.com/assets/11387898/23535972/7a7388de-fff4-11e6-9e0c-b14dc3619351.png)

I saw log in chrome developer console, it still has no file path.
Note: my webpack is already configured to generate sourcemap for all code.

Thanks

[2017-03-06 21:45] Krinkle opened #94 "Support tests with reserved prototype names"
[code]

Both of these cause the following warning, and the result is not included in the output:

See also #8 which reported this issue previously. It was closed since a warning was added and the crash mitigated by instead ignoring the result, but I don't see why we can't make it work. Arbitrary names shouldn't be made properties of a plain object.

It looks like this project intends to support No

[2017-03-09 23:13] norato opened #95 "It doesn't working with angular-cli"
I installed following readme instructions and it is not working.

[2017-03-10 11:35] lvthanh101 commented on #93
hi @4kochi
Do you know how to work around for this issue?

Thanks

[2017-03-17 11:19] norato commented on #95
@4kochi Thanks to investigate it!

[2017-03-20 09:46] #94 closed

[2017-03-20 10:06] 4kochi commented on #95
I tested it with the latest version of angular-cli (1.0.0-rc.2) and it works. I have changed the generated  `karma.conf.js` as seen below:

[code]

[2017-03-20 10:35] norato commented on #95
@4kochi i tested it and works! Thaks a lot!

[2017-03-20 10:36] 4kochi commented on #95
👍

[2017-03-20 10:36] #95 closed

[2017-03-20 11:49] 4kochi commented on #94
Released as v2.2.3

[2017-04-08 02:08] esayler commented on #93
@lvthanh101 I had this same problem but I'm using webpack as a preprocessor. But a found a solution that'll work if you use webpack. If you include `'sourcemap'` preprocessor after `'webpack'` in the preprocessors object and then do `devtool: 'inline-source-map'` in your weback config of your `karma.conf.js` you can get what you're looking for.

here's my example `karma.conf.js`:
[code]

Here's my

[2017-04-10 02:28] lvthanh101 commented on #93
Hi @esayler

Thanks for your response. However, my karma config already has 'sourcemap' in preprocessor and devtool is 'inline-source-map'. So I cannot still solve this problem.

[2017-06-17 23:47] john-hadron commented on #84
I've noticed this error when I do the following.
I run a test in multiple browsers, but skip the test in some browers. The report consistently comes out as failed.

[code]

[code]

[code]

[2017-07-24 21:53] rsimha-amp opened #99 "Error sources occasionally being dropped from karma-mocha-reporter summary"
We on [ampproject/amphtml](https://github.com/ampproject/amphtml) recently started using `karma-mocha-reporter` as the reporter for our tests on Travis-CI. I'm noticing that some of the time, the failures reported by `karma-mocha-reporter` are not accompanied by error sources. For example, see https://travis-ci.org/ampproject/amphtml/jobs/256983271

Any idea what's going on here? Is this a bug in

[2017-07-25 11:23] 4kochi commented on #99
Well, this issue is hard to track down. I ran the test locally and there were some errors. And the error sources are all listed. There were cases in the past were the error stack was not correctly reported to the reporter either by karma or the browsers. But was nothing what the reporter could have done.

[2017-07-25 13:16] rsimha-amp commented on #99
@4kochi, thanks. I'll ping this bug if we see this again.

[2017-08-24 11:10] pantosha opened #100 "Enhance symbols fallback for windows"
Currently karma-mocha-reporter uses overdue copy of [sindresorhus/log-symbols](/sindresorhus/log-symbols) . Compare [karma-mocha-reporter/symbols.js](litixsoft/karma-mocha-reporter/blob/master/symbols.js) with [log-symbols/index.js](/sindresorhus/log-symbols/blob/master/index.js).

It makes sense to update symbols.js or use [log-symbols](https://www.npmjs.com/package/log-symbols) npm package.

[2017-08-24 11:19] 4kochi commented on #100
Good point. There was a reason why we add the symbols in code instead of using the log-symbols package directly. Will check this.

[2017-08-24 13:07] 4kochi commented on #100
Published as v2.2.4

[2017-08-24 13:07] #100 closed

[2017-09-14 02:27] ZebraFlesh opened #101 "Broken on Windows 10"
The switch to log-symbols breaks console output on Windows 10. I'm seeing [this exact issue](https://github.com/sindresorhus/log-symbols/issues/11) after upgrading to 2.2.4. (If I'm reading the unreleased resolution correctly, it's to not support Windows consoles with that package.)

Please revert b0aac74

[2017-09-14 10:44] 4kochi commented on #101
I will wait for a new version of `log-symbols`. It is already fixed there.

[2017-10-03 17:20] rsimha-amp commented on #99
@4kochi Here's an update.

I encountered several more instances of unexpected error reports from `karma-mocha-reporter`. In some cases, it reported several alleged failures even though only one test failed. It's possible that this has to do with the fact that we're triggering tests on Travis and running them on Sauce Labs browsers. Either way, I thought you might find this useful to look at.

Here

[2017-10-13 09:08] pantosha commented on #101
@4kochi, [log-symbols issue](/sindresorhus/log-symbols/issues/11) is already closed.

[2017-10-17 07:49] #101 closed

[2017-10-17 08:37] 4kochi commented on #101
Published as v2.2.5

[2018-02-06 13:00] fraser-lowndes opened #102 "Console.log written to console twice"
Reproduction repository here: https://github.com/fraser-lowndes/karma-double-console-log. Pull and use ng t --sr to see the isuse.

Any calls to `console.log` will be printed twice when using `karma-mocha-reporter` as the sole reporter in `karma.conf`. E.g. console.log('my log') is output to the console as
[code]

[2018-02-07 09:29] 4kochi commented on #102
I only see one message.

<img width="1147" alt="bildschirmfoto 2018-02-07 um 10 28 26" src="https://user-images.githubusercontent.com/1742426/35908696-bb04cd68-0bf1-11e8-8daa-2ac13b0e5e97.png">

[2018-02-07 11:18] 4kochi commented on #102
Seems like someone else had the issue and fixed it in the @angular/cli

https://github.com/angular/angular-cli/issues/9528

[2018-02-07 11:22] fraser-lowndes commented on #102
Excellent, I'll close this. Thanks for the help.

[2018-02-07 11:22] #102 closed, assigned to nobody

[2018-04-27 09:42] hirashuriken opened #103 "Order of output sections"
Hello, I didn't find such an issue but maybe it will be helpful not only for me.
In my opinion, a good option for the report will be an order of output sections.
Right now failed (success, skipped) tests are shown after the common summary, but I think it will be better if such section will be last and you don't need to scroll console to top that sees how much-failed tests do you have.
So, for me b

[2018-04-27 10:30] 4kochi commented on #103
Sounds like a reasonable request. We could have a option which defaults to the current behavior but can be overwritten. PR's are welcome.

[2019-01-02 10:24] qortex opened #104 "Install procedure"
I need to add `require('karma-mocha-reporter')` in the `plugins` section of the `karma.conf.js` file to get it working. Otherwise, I would get this error when running `ng test`:

    Can not load reporter "mocha", it is not registered!

It would be useful to include that in the INSTALL section of the readme if it is confirmed that this fix applies to all situations.

[2019-02-21 21:57] kirill-konshin commented on #104
If you don't have such section all `karma-*` packages will be loaded automatically. If you have this section package maintainers assume that you know what you're doing :)

[2019-08-13 17:58] nweldev opened #105 "display test duration"
I would like to display tests duration in the console like with the spec reporter (see https://mochajs.org/#test-duration), but can't figure out how to do it with karma-mocha-reporter.

When adding https://mochajs.org/api/mocha#slow to client.mocha in karma.config, it doesn't change anything:
[code]

[2019-08-28 15:12] AdamVig commented on #105
@noelmace I found myself in the same situation. After some research, I discovered that this reporter actually already supports displaying test duration.

You can use the standard Karma `reportSlowerThan` configuration property ([Karma configuration docs](https://karma-runner.github.io/4.0/config/configuration-file.html)). It defaults to zero, which disables it.

Setting the property to `0.001` mad

[2019-11-13 10:50] vedtam opened #106 "Diff isn't showing for object in array"
Hi,

I'm trying to figure out why no diff is displayed for the bellow test:

[code]

results in:

![Screen Shot 2019-11-13 at 12 45 43](https://user-images.githubusercontent.com/4981592/68756835-8abcdd80-0613-11ea-9e7d-2d9543fad483.png)

[code]

Thanks!

[2019-12-20 15:18] shrijoshi24 opened #107 "colors.info symbol can be used for skipped unit tests"
Currently, when the results of the individual unit tests are reported, if the result is a success, colors.success (✔) symbol is used else colors.error (✖) is used.(line 484 in index.js). However, the unit test could also be skipped in which case colors.info (ℹ) symbol should be used like it is used while printing the summary. Although "skipped" is mentioned for the unit test in round brackets, it

[2020-09-25 08:41] DDoerner commented on #104
Understandable. Could still be useful to add a note in the README because templates such as the one Angular generates place the section

[2021-10-09 15:17] kmalakoff opened #108 "npm audit ansi-regex"
I'm getting these nm audit warnings. Can you please update the dependency on ansi-regex for this module?

ansi-regex  >2.1.1 <5.0.1
Severity: moderate
 Inefficient Regular Expression Complexity in chalk/ansi-regex - https://github.com/advisories/GHSA-93q8-gq69-wqmw
fix available via `npm audit fix --force`
Will install karma-mocha-reporter@2.2.3, which is a breaking change
node_modules/inquirer-au

[2021-11-22 15:27] Den-dp commented on #108
Added PR to fix that

[2021-12-06 13:19] hitendra-ap commented on #108
Hello @Den-dp,
Any updates regarding this issue? Or any eta on this.. when it will be fixed?
Actually, this vulnerability is blocking our application from being PCI DSS compliant.
Thanks

[2021-12-06 14:49] Den-dp commented on #108
@hitendra-ap so my PR is here https://github.com/litixsoft/karma-mocha-reporter/pull/109 but there are some failed tests that someone should take a look at.

It is up to the maintainer what to do with this PR.

[2021-12-06 21:36] JugrajSripalJain commented on #108
@artm @ppvg any thoughts?

[2021-12-15 11:28] psnosignaluk commented on #108
@LitixThomas would it be safe to assume that karma-mocha-reporter is no longer supported and is abandoned?

[2021-12-15 12:20] Den-dp commented on #108
Added CI-related fix to #109 Now it's green 🟢

[2021-12-15 14:48] LitixThomas commented on #108
Yes, karma-mocha-reporter is outdated and will no longer maintained.

[2021-12-23 12:17] tomkdgun commented on #108
@LitixThomas @Den-dp Do someone is going to take over ownership of this project ? Any alternatives for this reporter ?

[2021-12-23 13:02] Den-dp commented on #108
Assuming that:
* this project is very popular (213k downloads per week https://www.npmjs.com/package/karma-mocha-reporter )
* PR with a fix is in place #109
* tests are green

I hope that one day maintainers will reconsider their intent to drop this project and will find some time to merge the fix since right now it is low effort/low hanging fruit.

I have no plans on forking it and publishing it

[2022-01-27 21:22] Sayan751 commented on #108
I think the main issue here might be that in the current versions, the dependencies modules have moved to cjs to esm which might be an issue with karma. The esm karma conf file issue is still open: https://github.com/karma-runner/karma/issues/3677.

[2022-02-07 18:27] JesseAppleton commented on #108
Commenting to mention I'm looking for #109 to be merged as well. Maintainers, please consider.

[2022-02-08 15:53] banderberg opened #110 "I only see describes, no its."
I am only seeing the text for describes in my Jasmine tests, but not the text for the its.  What do I need to do to see the its?

[2022-02-22 20:21] candletrick commented on #110
In my case using karma.conf.js I had to add this to get the it() statement to show. It'd be nice if it was at the LOG_INFO rather than LOG_DEBUG level, but at least it shows:

[code]

[2022-02-22 20:37] banderberg commented on #110
I figured out my problem and the solution isn't even worth sharing.. basically just a dumb mistake.

[2022-02-22 20:37] #110 closed, assigned to nobody

[2022-03-07 03:04] D4nte commented on #104
I guess the issue is that other maintainer tell you to add the `require` property in their docs when it is not needed :)